In [1]:
import sys

print("Version of Python:")
print(sys.version)

Version of Python:
3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

In [2]:
import requests
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import sklearn
import tensorflow as tf
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

library_names = ['requests', 'NumPy', 'Pandas', 'Matplotlib', 'Scikit-Learn', 'TensorFlow']
library_versions = [requests.__version__, np.__version__, pd.__version__, mpl.__version__, sklearn.__version__, tf.__version__]
for lib_n, lib_v in zip(library_names, library_versions):
    print("{} version is {}".format(lib_n, lib_v))

requests version is 2.24.0
NumPy version is 1.18.5
Pandas version is 1.0.5
Matplotlib version is 3.2.2
Scikit-Learn version is 0.23.1
TensorFlow version is 2.4.0-dev20200906

In [3]:
# Download pyvizml and move to the same folder.
from pyvizml import CreateNBAData

In [4]:
cnd = CreateNBAData(season_year = 2019)

In [5]:
players_df = cnd.create_players_df()

Creating players df...

In [6]:
players_df.head()

,firstName,lastName,temporaryDisplayName,personId,teamId,jersey,isActive,pos,heightFeet,heightInches,heightMeters,weightPounds,weightKilograms,dateOfBirthUTC,nbaDebutYear,yearsPro,collegeName,lastAffiliation,country,isallStar
0,Jaylen,Adams,"Adams, Jaylen",1629121,1610612757,10,True,G,6,0,1.83,225,102.1,1996-05-04,2018,1,St. Bonaventure,St. Bonaventure/USA,USA,NaN
1,Steven,Adams,"Adams, Steven",203500,1610612760,12,True,C,6,11,2.11,265,120.2,1993-07-20,2013,6,Pittsburgh,Pittsburgh/New Zealand,New Zealand,NaN
2,Bam,Adebayo,"Adebayo, Bam",1628389,1610612748,13,True,C-F,6,9,2.06,255,115.7,1997-07-18,2017,2,Kentucky,Kentucky/USA,USA,NaN
3,LaMarcus,Aldridge,"Aldridge, LaMarcus",200746,1610612759,12,True,C-F,6,11,2.11,250,113.4,1985-07-19,2006,13,Texas,Texas/USA,USA,NaN
4,Kyle,Alexander,"Alexander, Kyle",1629734,1610612748,17,True,F-C,6,10,2.08,216,98.0,1996-10-21,2019,0,Tennessee,Tennessee/Canada,Canada,NaN

In [7]:
players_df.shape

(510, 20)

In [8]:
player_stats_df = pd.read_csv('player_stats.csv')

In [9]:
player_stats_df.head()

,firstName,lastName,temporaryDisplayName,personId,teamId,jersey,isActive,pos,heightFeet,heightInches,...,ftm,fta,pFouls,points,gamesPlayed,gamesStarted,plusMinus,min,dd2,td3
0,Jaylen,Adams,"Adams, Jaylen",1629121,1610612757,10.0,True,G,6,0,...,7.0,9.0,45.0,108.0,34.0,1.0,-57.0,427.0,0.0,0.0
1,Steven,Adams,"Adams, Steven",203500,1610612760,12.0,True,C,6,11,...,876.0,1573.0,1384.0,5191.0,530.0,466.0,1619.0,14208.0,112.0,0.0
2,Bam,Adebayo,"Adebayo, Bam",1628389,1610612748,13.0,True,C-F,6,9,...,559.0,787.0,523.0,2352.0,223.0,119.0,234.0,5697.0,58.0,3.0
3,LaMarcus,Aldridge,"Aldridge, LaMarcus",200746,1610612759,12.0,True,C-F,6,11,...,3579.0,4414.0,2473.0,19599.0,1003.0,962.0,2799.0,34517.0,351.0,0.0
4,Kyle,Alexander,"Alexander, Kyle",1629734,1610612748,17.0,True,F-C,6,10,...,0.0,0.0,1.0,2.0,2.0,0.0,-3.0,13.0,0.0,0.0

In [10]:
player_stats_df.shape

(510, 50)

In [11]:
# Numerical prediction.

In [12]:
print(type(player_stats_df))
print(type(player_stats_df['heightMeters']))
print(type(player_stats_df['heightMeters'].values))
print(type(player_stats_df['weightKilograms'].values))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [13]:
# 1D => x, 2D => X
X = player_stats_df['heightMeters'].values.reshape(-1, 1)
y = player_stats_df['weightKilograms'].values
lr = LinearRegression()
h = lr.fit(X,y)

In [14]:
players_df[players_df['firstName'] == 'Zion']

,firstName,lastName,temporaryDisplayName,personId,teamId,jersey,isActive,pos,heightFeet,heightInches,heightMeters,weightPounds,weightKilograms,dateOfBirthUTC,nbaDebutYear,yearsPro,collegeName,lastAffiliation,country,isallStar
496,Zion,Williamson,"Williamson, Zion",1629627,1610612740,1,True,F,6,6,1.98,284,128.8,2000-07-06,2019,0,Duke,Duke University/USA,USA,NaN

In [15]:
klay_thompson = np.array([[1.98]])
h.predict(klay_thompson)

array([97.67830728])

In [16]:
# Categorical prediction

In [17]:
unique_pos = player_stats_df['pos'].unique()
pos_dict = {i: p for i, p in enumerate(unique_pos)}
pos_dict_reversed = {v: k for k, v in pos_dict.items()}
print(pos_dict)
print(pos_dict_reversed)

{0: 'G', 1: 'C', 2: 'C-F', 3: 'F-C', 4: 'F', 5: 'F-G', 6: 'G-F'}
{'G': 0, 'C': 1, 'C-F': 2, 'F-C': 3, 'F': 4, 'F-G': 5, 'G-F': 6}

In [18]:
X = player_stats_df[['apg', 'rpg']]
pos = player_stats_df['pos'].map(pos_dict_reversed)
y = pos.values
logit = LogisticRegression()
h = logit.fit(X, y)

In [19]:
player_stats_df[players_df['firstName'] == 'Zion']

,firstName,lastName,temporaryDisplayName,personId,teamId,jersey,isActive,pos,heightFeet,heightInches,...,ftm,fta,pFouls,points,gamesPlayed,gamesStarted,plusMinus,min,dd2,td3
496,Zion,Williamson,"Williamson, Zion",1629627,1610612740,1.0,True,F,6,6,...,114.0,178.0,42.0,540.0,24.0,24.0,62.0,668.0,2.0,0.0

In [20]:
player_stats_df[players_df['firstName'] == 'Zion'][['apg', 'rpg']]

     apg  rpg
496  2.1  6.3

In [21]:
zion_williamson = np.array([2.1, 6.3]).reshape(1, 2)
zion_williamson.shape

(1, 2)

In [22]:
pos_dict[h.predict(zion_williamson)[0]]

'F'

In [23]:
player_stats_df[players_df['firstName'] == 'Stephen']

,firstName,lastName,temporaryDisplayName,personId,teamId,jersey,isActive,pos,heightFeet,heightInches,...,ftm,fta,pFouls,points,gamesPlayed,gamesStarted,plusMinus,min,dd2,td3
114,Stephen,Curry,"Curry, Stephen",201939,1610612744,30.0,True,G,6,3,...,2560.0,2827.0,1732.0,16419.0,699.0,693.0,4680.0,23998.0,119.0,7.0

In [24]:
stephen_curry = np.array([6.6, 4.5]).reshape(1, 2)
pos_dict[h.predict(stephen_curry)[0]]

'G'

In [25]:
print(pos_dict[h.predict(np.array([[5, 5]]))[0]]) # 預測場均助攻 5 場均籃板 5 的 NBA 球員鋒衛位置
print(pos_dict[h.predict(np.array([[5, 10]]))[0]]) # 預測場均助攻 5 場均籃板 10 的 NBA 球員鋒衛位置
print(pos_dict[h.predict(np.array([[5, 15]]))[0]]) # 預測場均助攻 5 場均籃板 15 的 NBA 球員鋒衛位置

G
F
C